.body {
    background-color: #EEF0F8;
}
.flex {
    display: flex;
}
.createUserForm {
    display: none;
}
.but-create {
    width: 120px;
    padding: 15px 0 15px 15px;
    position: relative;
    left: 790px;
}
.but-create button {
    background-color: #2E8FF0;
    color: white;
    border-color: #2E8FF0;
    width: 120px;
    height: 46px;
    border-radius: 6px;
    cursor: pointer;
}
